---
layout: page
weight: 2
title: "Blog"
description: "All articles in chronological order"
ref: blog
lang: en
header-img: "img/DSC02463.jpg"
---
{% assign lang_posts = site.posts | where:"lang", page.lang %}
{% for post in lang_posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">
        {{ post.title }}
      </h2>
      {% if post.subtitle %}
        <h3 class="post-subtitle">
          {{ post.subtitle }}
        </h3>
      {% endif %}
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}
