---
layout: page
weight: 1
description: "Nomadas de la nueva era digital, ciudadanos del mundo, ávidos de conocer otras cultura"
header-img: 'img/angkor.jpg'
locations:
  - Phu Quoc
  - Ho Chi Minh City
  - Phnom Phen
  - Siem Reap
  - Bangkok
  - Ayutthaya
  - Sukhothai
  - Chiang Mai
  - Luang Namtha
  - Luang Prabang
  - Hanoi
  - Hong Kong
---
<div class="row widgets">

  {% assign post = site.posts.first %}
  <div class="col-xs-12 col-sm-6 col-md-4 widget">
    <div class="title">Último Artículo</div>
    <div class="last-post"
      style="background-image: url('{{ site.baseurl }}/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-title">{{ post.title }}</div>
        {% if post.subtitle %}
          <div class="post-subtitle">{{ post.subtitle }}</div>
        {% endif %}
        <hr class="small" />
        <div class="post-author">by {{ post.author }} on {{ post.date }}</div>
    </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 widget">
    <div class="title">Dónde Estamos?</div>
    {% include map_point.html location=page.locations.first %}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 widget">
    <div class="title">Nuestro Camino</div>
    {% include map_path.html locations=page.locations %}
  </div>
</div>

<div class="row widgets">
  <div class="col-xs-12 col-sm-6 col-md-4 widget">
    <div class="title">Artículos Anteriores</div>
      <ul class="posts">
        {% for post in site.posts limit:5 offset:1 %}
        <li>
        <span>{{ post.date | date_to_string }}</span> &raquo;
        <a href="{{ BASE_PATH }}{{ post.url }}">
          {{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 widget">
    <div class="title">Tweets by @{{ site.twitter_username }}</div>
    <a class="twitter-timeline"  href="https://twitter.com/{{ site.twitter_username }}" data-widget-id="684767327888523264">Tweets by @{{ site.twitter_username }}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 widget" style="max-height: 278px; height: 278px;">
    <div class="title">Publicidad</div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- frontpage widget -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-7260790534512939"
         data-ad-slot="8128502204"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
